[Unit]
Description=NBJ Condenser Server
After=network.target

[Service]
User=root
WorkingDirectory=/root/conciser
ExecStart=/root/conciser/venv/bin/python server/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
